.container{
    background-color: #FFB84C;
    height: 100%;
    color: #fff;
    .info-movie{
        color: #fff;
        
        .content-movie{
            border-radius: 5px;
            margin-top: 20px;
            // box-shadow:inset -55px 55px 100px 5px #e7a035;
            background-color:#f266accb;
           height: 100%;
           position: relative;
           .d-block{
            height: 100% !important;
            padding: 0;
            object-fit: cover;
            border-radius:  15px;
            border:5px dashed #A459D1;
           }
            .wrap-info{
                display: flex;
                flex-direction: column;
               gap: 10px;
                .info-group{
                  
                }   
            }
            .wrap-info-trailer{
                position: absolute;
                bottom: 10px;
            }
        }
        
    }
    .schedule{
        margin-top: 100px;
        .wrap{
            background-color:#f266accb;
            padding: 55px 0;
            color: #fff;
            border-radius: 8px;
            border: 5px dashed #A459D1;
            .show{
                text-align: center;
            }
            .group-btn{
                width: 100%;
                .date-show{
                display: flex;
                align-items: center;
                justify-content: center;
                .btn-date{
                    width: 100px;
                    height: 60px;
                    border: 3px dashed #5cd2dd;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                    // background-color: #2CD3E1;
                    cursor: pointer;
                    &:hover{
                        color :#fff;
                        background-color: #2CD3E1;
                        border: 3px dashed #5cd2dd;

                    }
                }
            }
            }
            .about{
               .time-start{
                    padding: 30px 5px;
                    justify-content: center;
                    .btn-time{
                        width: 90px;
                        height: 35px;
                        margin-right: 20px;
                        border: 1px solid #fff;
                        background-color: #2CD3E1;
                        color: #fff;
                        border-radius: 3px;
                        margin-bottom: 30px;
                        &:hover{
                        border: 1px solid rgb(255, 255, 255);
                        color: #fff;    
                        background-color: #6fd3dc;                      
                        }
                    }
               }
            }
        }
    }
    .choose-ticket{
        color: #fff;
        h1{
            text-align: center;
            margin: 60px 0;
        }
        .wrap-ticket{
            display: flex;
            justify-content: center;
            .ticket{
                width: 400px;
                border: 1px solid #fff;
                padding: 20px 0;
                border-radius: 4px;
                h2{
                    text-align: center;
                }
                .price-quantity{
                    margin: 0 30px;
                    display: flex;
                    justify-content: space-between;
                    .wrap-quantity{
                        display: flex;
                        font-size: 22px;
                        align-items: center;
                        background-color: #97978E;
                        color: #000;
                        width: 100px;
                        justify-content: space-between;
                        border-radius: 3px;
                        .wrap-icon{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            width: 30px;
                            justify-content: center;
                            border-radius: 1px ;
                            &:hover{
                                background-color: #fff;
                                cursor: pointer;
                            }
                            
                            
                        
                        }
                        
                    }
                }
            }
        }
    }
    .seat{
        margin-top: 120px;
        color: #fff;
        .wrap-seat{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .screen{
                display: flex;
                justify-content: center;
                margin-bottom: 30px;

                .screen-img{
                    position: relative;
                    width: 65%;
                }
                h2{
                    position: absolute;
                    text-align: center;
                    padding-top: 75px;
                }
            }
            .all-seat{
                .group-seat{
                    display: flex;
                    width: 100%;
                    .seat-name{
                        display: flex;
                        align-items: center;
                        font-size: 22px;
                        width: 20px;
                    }
                    .group-btn-seat{
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        margin-bottom: 5px;    
                        .num-seat{
                            width: 75px;
                            height: 50px;
                            border-radius: 12px;
                            margin-right: 5px;
                            background-color: #d9d9d9;
                        }
                        .vip-seat {
                            background-color: #FFAF00;
                        }
                        
                    }
                    
                }
            }
        }
        .type-seat{
            margin-top: 50px;
            .wrap-type{
                display: flex;
                justify-content: space-between;
                .status-seat{
                    display: flex;
                    .btn-casual,
                    .btn-vip,
                    .btn-choose,
                    .btn-placed{
                        background-color: #d9d9d9;
                        width: 65px;
                        height: 35px;
                        border-radius: 5px;
                        margin-right: 8px;
                    }
                    h3{
                        display: flex;
                        align-items: center;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .food{
        margin-top: 100px;
       
        h1{
            text-align: center;
        }
        .wrap-food{
            
            margin-top: 40px;
            .name-food{
            text-align: center; 
            margin-bottom: 30px;              
            }
            .wrap-item{
                
                .item-food{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .item-detail{
                        display: flex;
                        border: 5px dashed #A459D1;
                        gap: 5px;
                        max-width: 310px;
                        background-color: #f57bb8;
                        align-items: center;
                        margin-top: 5px;
                        .img-food{
                            height: 140px;
                            width: 140px;
                            object-fit: cover;
                        }
                        .food-info{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .wrap-quantity{
                                display: flex;
                                font-size: 22px;
                                align-items: center;
                                background-color: #2CD3E1;
                                color: #fff;
                                width: 100px;
                                justify-content: space-between;
                                border-radius: 15px;
                                .wrap-icon-food{
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    width: 30px;
                                    justify-content: center;
                                    border-radius: 1px ;
                                    &:hover{
                                        background-color: #fff;
                                        cursor: pointer;
                                        color: #2CD3E1;
                                        border-radius: 15px;
                                    }
                                    
                                    
                                
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        
        
    }
    .order{
        position: relative; /* Giữ nguyên vị trí tương đối khi không nổi lên */
        transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động khi thay đổi */
        margin-top: 80px; /* Khoảng cách trên để không bị dính vào các phần khác */
        z-index: 1000; /* Đảm bảo nằm trên các phần khác */
    
        &.fixed {
            position: sticky; /* Đặt vị trí cố định khi nổi lên */
            bottom: 0; 
            padding-top:20px;
            background-color: #A459D1; /* Nền màu đen hoặc màu bạn muốn */
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng để nổi bật */
           
        }
        .order-detail{
            
            }
        .total{
            float: right;
            
            .booking-btn{
                background-color: #2CD3E1;
                height: 50px;
                width: 100%;
                border-radius: 5px;
                border: 4px dashed #fff ;
                color:#fff;
                &:hover{
                    background-color: #5fd8e3;
                }
            }
        }
    }
}