.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
        background-color: #fefefef8;
        padding: 45px 60px;
        border-radius: 8px;
        width: 400px;
        position: relative;
        gap: 10px;
        text-align: start;
        display: flex;
        flex-direction: column;
        .tyle{
            text-align: center;
        }
        .form-info{
            width: 100%;
        }
        .btn-con{
            display: flex;
            margin-top: 30px;
            justify-content: center;
            .btn-confirm{
                width: 40%;
                border-radius: 5px;
                border: 1px solid #000000;
                top: 80%;
                left: 30%;
                &:hover{
                    background-color: rgba(78, 80, 78, 0.311);
                }
            }
        }
       
        .close-modal{
            top: 10%;
            position: absolute;
            right: 5%;
            &:hover{
                cursor: pointer;
                color: #cf0f0f;
            }
        }
      }
}