.wrapper {
    height: 168px;
    background-color: #000;
}
.content{
    margin: 0 146.6px;
}
.header1{
    height: 60px;
    display: flex;
}

.logo{
    height:45.6px ;
    width: 130px;
}

.wrap1{
    display: flex;
    justify-content: space-between;
}