.wrapper {
  background-color: #000;
    .container {
        .header1{
            .wrap{   
                padding-bottom: 8px;
                border-bottom: 2px solid #2C2C2C;     

                .logo {
                    width: 130px; // Logo width
                    height: 45.6px; // Logo height
                }
                .wrap1{

                    .btn.book { // Book button styles
                        width: 125px; // Button width
                        height: 40px; // Button height
                        border-radius: 10px; // Rounded corners for the button
                        font-size: 14px; // Font size for the button text
                        border: 1px solid #2C2C2C;
                        background-color: #000;
                        color: #fff;
                    }
                }
                    .sign {
                        .btn.sign-up, // Sign up button styles
                        .btn.sign-in { // Sign in button styles
                            width: 125px; // Button width
                            height: 40px; // Full width for buttons
                            border-radius: 40px; // Rounded corners for the button
                            font-size: 14px;
                            background-color: #2c2c2c;
                            border: none;
                            color: #fff;
                        }
                    }
                } 
                }
        .header2{
            .wrap2 {
                .btn-choose,
                .btn-schedule{
                    width: 125px; // Button width
                    height: 40px; // Full width for buttons
                    border-radius: 40px; // Rounded corners for the button
                    font-size: 14px;
                    background-color: #000;
                    border: 1px solid #2C2C2C;
                    color: #fff;
                    .icon{
                        margin-right: 6px;
                    }
                }
            }
        }
        .cinema-list{
            background-color: #000;
            .title{
                font-size: 18px;
                color:#fff;
            }           
        }
    }
    .dropdown-menu {
        background-color: #000;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
    }
    
    .dropdown-item {
        padding: 5px 10px;
        cursor: pointer;
    
        &:hover {
            background-color: #333;
        }
    }
    
}