@keyframes changeColor {
    0%   {
        
        background: linear-gradient(to right ,#f80606cd, #2c2c2c, rgb(0, 110, 255)); }
    25%  {  background: linear-gradient(to right , #2c2c2c, rgb(0, 110, 255),#2c2c2c,);}
    50% { 
       
        background: linear-gradient(to left ,#f80606cd, #2c2c2c, rgb(0, 110, 255)); }
    75%  {  background: linear-gradient(to right , #2c2c2c, #f80606cd,#2c2c2c,);}
    100%  {    background: linear-gradient(to right ,#f80606cd, #2c2c2c, rgb(0, 110, 255));}
  }
 
.wrapper {
  background-color: #000;
    .container {
       
        .header1{
            
            .wrap{   
                padding-bottom: 8px;
                border-bottom: 2px solid #2C2C2C;     

                .logo {
                    width: 130px; // Logo width
                    height: 45.6px; // Logo height
                }
                .wrap1{

                    .btn.book { // Book button styles
                        width: 125px; // Button width
                        height: 40px; // Button height
                        border-radius: 10px; // Rounded corners for the button
                        font-size: 14px; // Font size for the button text
                        border: 1px solid #2C2C2C;
                        background-color: #000;
                        color: #fff;
                    }
                }
                    .sign {
                        .btn.sign-up, // Sign up button styles
                        .btn.sign-in { // Sign in button styles
                            width: 125px; // Button width
                            height: 40px; // Full width for buttons
                            border-radius: 40px; // Rounded corners for the button
                            font-size: 14px;
                            background-color: #2c2c2c;
                            border: none;
                            color: #fff;
                            
                            &:hover{
                                background: linear-gradient(to right top,#f80606cd, #2c2c2c, rgb(0, 110, 255));
                                transform: scale(1.1);
                            }
                        }
                    }
                } 
                }
        .header2{
            .wrap2 {
                .btn-choose,
                .btn-schedule{
                    width: 125px; // Button width
                    height: 40px; // Full width for buttons
                    border: none ;
                    font-size: 14px;
                    background-color: #000;
                    
                    color: #fff;
                    
                   
                    .icon{
                        margin-right: 6px;
                    }
                    &:hover{
                        color: #FCCD2A;
                    }
                }
            }
        }
        .cinema-list{
            background-color: #000;
            .title{
                font-size: 18px;
                color:#fff;
            }           
        }
    }
    .dropdown-menu {
        background-color: #000;
        border: 1px solid #ffffff98 ;
        width: 84%;
        
        color: #fff;
        padding: 40px ;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-height: 300px; 
        overflow-y: auto;
        column-gap: min(10px,30px);
        
     
    }

    .dropdown-item {
      
        padding: 10px;
        width: 320px;
        margin: 0 30px auto;
        cursor: pointer;
    
        &:hover {
            background-color: #333;
        }
    }
    
}
