
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(100px); /* Vị trí ban đầu */
    }
    to {
        opacity: 1;
        transform: translateY(0px); /* Di chuyển lên trên 10px */
    }
}
@keyframes zoom-in-out {
    0% {
      transform: scale(1.1);
     
    }
  
  
    100% {
      transform: scale(1);
     
    }
}
@keyframes floatIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .float-in {
    animation: moveUp 1s ease-out forwards;
  }
.container {
    
    background: 
  
    linear-gradient(to left, rgb(164, 89, 209), rgb(255, 165, 30),rgb(249, 197, 120) );
    // background-blend-mode: soft-light; /* hoặc screen, overlay, soft-light, etc */

    
    .showing-title {
        margin-top: 180px;
        color: #fff;
         
    }

   
        .wrap-banner{
            position: relative; /* Đặt vị trí tương đối cho nội dung để đảm bảo các phần tử bên trong được căn chỉnh đúng */
            z-index: 0  ;
            display: flex;
            img{
                z-index: 0  ;
                width: 100%;
                height: 680px;
                
                object-fit: cover;
                animation: zoom-in-out 3s forwards  ease-in-out;
            }
            
            .overlay {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                // box-shadow:inset 0px 0px 100px 5px #ffb74cbe;
                // background: 
                //             linear-gradient( to bottom, rgba(0, 0, 0, 0.181), rgba(0, 0, 0, 0) 30%),
                         
                //             linear-gradient( to top, rgba(0, 0, 0, 0.158),rgb(0, 0, 0,0) 30%);
                z-index: 10; /* Đặt z-index lớn hơn để overlay nằm trên hình */
                color: #F266AB;
                
                .wrap-banner-con{
                    background: 
                    linear-gradient( to left, rgba(0, 0, 0,0), rgba(0, 0, 0, 0.69) 70%);
                    padding-left: 5%;
                    
                
                .title{
                    background-image: linear-gradient(to right, #F266AB, #f897c7); /* Màu gradient */
                    -webkit-background-clip: text; /* Cắt background theo chữ */
                    -webkit-text-fill-color: transparent;
                    width: 80%;
                    font-size: 4em;
                    font-weight: 1000;
                    font-family: "Big Shoulders Display", sans-serif;
                    font-optical-sizing: auto;
                    letter-spacing: 4px;
                    font-style: normal;
                    
                    animation: floatIn 1.2s ease-out forwards;
                }
                .wrap-decr{
                    background:#a559d14c;
                    width: 80%;
                    
                   text-align: justify;
                    padding: 15px 30px;
                    border-radius: 10px;
                   
                    animation: floatIn 1.2s ease-out forwards;
                }
                .timeset{
                    animation: floatIn 1.2s ease-out forwards;
                }
                .wrap-btn-banner{
                    margin-bottom: 6%;
                    width: 70%;
                    height: 10%;
                    display: flex;
                    gap: 30px;
                  
                    animation: floatIn 1.2s ease-out forwards;
                    .bookin{
                        width: 25%;
                        height: 70%;
                        background-color: rgba(121, 101, 101, 0.168);
                        color: #F266AB;
                        border-radius: 15px;
                        box-shadow: 0 1px 5px solid rgba(218, 216, 216, 0.168);
                        
                        &:hover{
                            // background-color: #2CD3E1;
                            color: #2CD3E1;
                            // box-shadow: 2px 2px 15px  rgb(88, 0, 255),-2px -2px 50px  rgb(233, 0, 255);
                        }
                    }
                    .trailer-ban{
                        width: 25%;
                        height: 70%;
                        color: #F266AB;
                        background-color: #00000000;
                        border: none;
                        text-decoration: underline;
                        text-align: center;
                        
                        .icon-play{
                            color: #F266AB;
                            float: right; 
                            font-size:    1em ; 
                            margin-top: 6px;   
                          
                        }   
                        &:hover{
                            color: #2CD3E1;
                        }             
                    }
                }
                }
                
            }
        }
    .rowerr{}
    .rower{    
        // background-color: #1c1c1c;
        // animation: floatIn 1.2s ease-out forwards;
    .carousel-control-prev, .carousel-control-next {
        width: 40px;
        height: 40px;
        background-color: #ffffff00;
        border: none;
       
        .icon-pre, .icon-next {
            width: 40px;
            height: 40px;
            color: #Fff;
        }
    }
  
    .wrap-showing,.wrap-coming{
      
        border-bottom: none;
        padding:  30px 0;
        &:hover{
            // box-shadow: 2px 2px 15px  rgb(126, 236, 249),-2px -2px 50px  rgb(240, 115, 234);
            // background-color: #ffffff27;
            // background-image: linear-gradient(to right , rgba(105, 237, 251, 0.711),#000000,#000000,#000000,#000000, rgba(245, 89, 224, 0.612)); /* Màu gradient */
          
        }
       
       
        
        .wrap {
            width: 300px;
            position: relative;
            z-index: 3; /* Đảm bảo tiêu đề và nút không bị chồng lên bởi overlay */
            padding: 10px;
           
            background-color: #f266acc7;
            border-radius: 15px;
            &:hover{
                border: 2px solid #ffffff81;
                
            }
            img{
                border-radius: 15px;
                max-height:77% ;
                object-fit: cover;
            }
            .title-movie {
                color: #FFf;
                transition: color 0.3s ease;
                margin-top: 10px;
            }
    
            .btn-gr {
                position: absolute;
                bottom: 10px;
                left: 0%;
                right: 0%;
                gap: 20px;
                .trailer, .bookin {
                    width: 120px;
                    height: 40px;
                    color: #FFf;
                    background-color: #2CD3E1;
                    border: none;
                    
                    &:hover {
                        background-color: #31eeff;
                        border: 1px solid;
                        color: #FFf;
                        box-shadow: 2px 2px 15px  rgb(126, 236, 249),-2px -2px 50px  rgb(240, 115, 234);
                    }
                }
            }
    
            .wrap-hover {
                position: absolute;
                width: 94%;
                height: 77%;
                background-color: #f266ac56; /* Màu nền khi hover */
                color: #fff; /* Màu chữ */
                display: none; /* Ẩn mặc định */
                justify-content: start;
                align-items: center;
                padding: 10px;
                border-radius: 15px;
                transition: opacity 0.3s ease;
                z-index: 4; /* Đảm bảo nó nằm trên tất cả các thành phần khác */
            }
    
            &:hover .wrap-hover {
                display: flex; /* Hiện khi hover */
                color: #FFf;
            }
        }
    }
}
}
